{
  "plugins": [
    ["transform-class-properties", { "spec": true }]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            modules: 'umd',
            "targets": {
              "browsers": [
                "last 2 versions",
                "chrome >= 55",
                "IE >= 11"
              ]
            }
          }
        ]
      ],
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/*.spec.js"
            ]
          }
        ],
        "rewire"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            modules: false,
            "targets": {
              "browsers": [
                "last 2 versions",
                "chrome >= 55",
                "IE >= 11"
              ]
            }
          }
        ],
        "minify"
      ]
    }
  }
}
